@font-face {
  font-family: "jitheme"; /* Project id 3151013 */
  src: url('iconfont.woff2?t=1677987273466') format('woff2'),
       url('iconfont.woff?t=1677987273466') format('woff'),
       url('iconfont.ttf?t=1677987273466') format('truetype');
}

.jitheme {
  font-family: "jitheme" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ji-a-1:before {
  content: "\e657";
}

.ji-a-0:before {
  content: "\e658";
}

.ji-a-4:before {
  content: "\e659";
}

.ji-a-2:before {
  content: "\e65a";
}

.ji-a-6:before {
  content: "\e65d";
}

.ji-a-3:before {
  content: "\e65e";
}

.ji-a-5:before {
  content: "\e65f";
}

.ji-bao:before {
  content: "\e65b";
}

.ji-xin:before {
  content: "\e65c";
}

.ji-heiyemoshi:before {
  content: "\e68f";
}

.ji-baitianmoshi:before {
  content: "\e690";
}

.ji-mail-send-line:before {
  content: "\e686";
}

.ji-customer-service-2-line:before {
  content: "\e687";
}

.ji-phone-line:before {
  content: "\e6ac";
}

.ji-artboard--fill:before {
  content: "\e660";
}

.ji-artboard--line:before {
  content: "\e661";
}

.ji-blur-off-fill:before {
  content: "\e662";
}

.ji-artboard-fill:before {
  content: "\e663";
}

.ji-ball-pen-fill:before {
  content: "\e664";
}

.ji-blur-off-line:before {
  content: "\e665";
}

.ji-ball-pen-line:before {
  content: "\e666";
}

.ji-brush--fill:before {
  content: "\e667";
}

.ji-brush--fill1:before {
  content: "\e668";
}

.ji-brush--line:before {
  content: "\e669";
}

.ji-brush--line1:before {
  content: "\e66a";
}

.ji-brush--fill2:before {
  content: "\e66b";
}

.ji-brush--line2:before {
  content: "\e66c";
}

.ji-compasses--fill:before {
  content: "\e66d";
}

.ji-compasses--line:before {
  content: "\e66e";
}

.ji-compasses-fill:before {
  content: "\e66f";
}

.ji-brush-line:before {
  content: "\e670";
}

.ji-contrast--fill:before {
  content: "\e671";
}

.ji-contrast--line:before {
  content: "\e672";
}

.ji-compasses-line:before {
  content: "\e674";
}

.ji-brush-fill:before {
  content: "\e675";
}

.ji-contrast-drop-fill:before {
  content: "\e676";
}

.ji-contrast-drop--line:before {
  content: "\e677";
}

.ji-contrast-drop--fill:before {
  content: "\e678";
}

.ji-contrast-drop-line:before {
  content: "\e679";
}

.ji-contrast-fill:before {
  content: "\e67a";
}

.ji-contrast-line:before {
  content: "\e67b";
}

.ji-artboard-line:before {
  content: "\e67c";
}

.ji-crop--fill:before {
  content: "\e67d";
}

.ji-crop-fill:before {
  content: "\e67e";
}

.ji-crop--line:before {
  content: "\e67f";
}

.ji-crop-line:before {
  content: "\e680";
}

.ji-drag-move--line:before {
  content: "\e681";
}

.ji-drag-move--fill:before {
  content: "\e682";
}

.ji-drag-move-fill:before {
  content: "\e683";
}

.ji-drop-fill:before {
  content: "\e684";
}

.ji-grid-fill:before {
  content: "\e685";
}

.ji-album-fill:before {
  content: "\e6f7";
}

.ji-k-fill:before {
  content: "\e6f9";
}

.ji-album-line:before {
  content: "\e6fc";
}

.ji-k-line:before {
  content: "\e6fe";
}

.ji-broadcast-line:before {
  content: "\e6ff";
}

.ji-camera--fill:before {
  content: "\e700";
}

.ji-broadcast-fill:before {
  content: "\e702";
}

.ji-camera--line:before {
  content: "\e705";
}

.ji-camera--line1:before {
  content: "\e706";
}

.ji-camera-line:before {
  content: "\e708";
}

.ji-camera--fill1:before {
  content: "\e709";
}

.ji-camera-switch-fill:before {
  content: "\e70a";
}

.ji-clapperboard-line:before {
  content: "\e70b";
}

.ji-equalizer-fill:before {
  content: "\e70c";
}

.ji-eject-fill:before {
  content: "\e70e";
}

.ji-camera-off-fill:before {
  content: "\e70f";
}

.ji-dvd-line:before {
  content: "\e710";
}

.ji-dvd-fill:before {
  content: "\e711";
}

.ji-eject-line:before {
  content: "\e712";
}

.ji-disc-line:before {
  content: "\e713";
}

.ji-disc-fill:before {
  content: "\e714";
}

.ji-film-fill:before {
  content: "\e715";
}

.ji-film-line:before {
  content: "\e716";
}

.ji-fullscreen-line:before {
  content: "\e717";
}

.ji-equalizer-line:before {
  content: "\e718";
}

.ji-fullscreen-exit-fill:before {
  content: "\e719";
}

.ji-gallery-line:before {
  content: "\e71a";
}

.ji-headphone-fill:before {
  content: "\e71b";
}

.ji-gallery-fill:before {
  content: "\e71c";
}

.ji-fullscreen-exit-line:before {
  content: "\e71d";
}

.ji-headphone-line:before {
  content: "\e71e";
}

.ji-hq-fill:before {
  content: "\e71f";
}

.ji-hd-line:before {
  content: "\e720";
}

.ji-image--fill:before {
  content: "\e721";
}

.ji-image-fill:before {
  content: "\e722";
}

.ji-landscape-line:before {
  content: "\e723";
}

.ji-landscape-fill:before {
  content: "\e724";
}

.ji-image--line:before {
  content: "\e725";
}

.ji-image-line:before {
  content: "\e727";
}

.ji-mic-fill:before {
  content: "\e728";
}

.ji-mic--line:before {
  content: "\e729";
}

.ji-mic-line:before {
  content: "\e72a";
}

.ji-mic--fill:before {
  content: "\e72b";
}

.ji-hd-fill:before {
  content: "\e72c";
}

.ji-mic-off-fill:before {
  content: "\e72d";
}

.ji-mic-off-line:before {
  content: "\e72e";
}

.ji-movie-fill:before {
  content: "\e72f";
}

.ji-movie--fill:before {
  content: "\e730";
}

.ji-hq-line:before {
  content: "\e731";
}

.ji-movie--line:before {
  content: "\e732";
}

.ji-movie-line:before {
  content: "\e733";
}

.ji-clapperboard-fill:before {
  content: "\e734";
}

.ji-music--line:before {
  content: "\e736";
}

.ji-music--fill:before {
  content: "\e737";
}

.ji-mv-fill:before {
  content: "\e738";
}

.ji-music-line:before {
  content: "\e739";
}

.ji-music-fill:before {
  content: "\e73a";
}

.ji-notification--line:before {
  content: "\e73b";
}

.ji-mv-line:before {
  content: "\e73c";
}

.ji-play-list-fill:before {
  content: "\e73d";
}

.ji-play-list-line:before {
  content: "\e73e";
}

.ji-gift:before {
  content: "\e6fa";
}

.ji-integral:before {
  content: "\e6fb";
}

.ji-nav-list:before {
  content: "\e6fd";
}

.ji-play:before {
  content: "\e701";
}

.ji-rising:before {
  content: "\e703";
}

.ji-QRcode:before {
  content: "\e704";
}

.ji-integral-fill:before {
  content: "\e726";
}

.ji-Moneymanagement:before {
  content: "\e759";
}

.ji-packaging:before {
  content: "\e75b";
}

.ji-online-tracking:before {
  content: "\e75c";
}

.ji-signboard:before {
  content: "\e765";
}

.ji-shuffling-banner:before {
  content: "\e764";
}

.ji-Similarproducts:before {
  content: "\e766";
}

.ji-set:before {
  content: "\e76c";
}

.ji-discounts:before {
  content: "\e771";
}

.ji-nightmode:before {
  content: "\e773";
}

.ji-vip:before {
  content: "\e774";
}

.ji-becomeagoldsupplier:before {
  content: "\e7d4";
}

.ji-browse_fill:before {
  content: "\e6e4";
}

.ji-like_fill:before {
  content: "\e707";
}

.ji-message_fill:before {
  content: "\e70d";
}

.ji-time_fill:before {
  content: "\e735";
}

.ji-history:before {
  content: "\e6f8";
}

.ji-tianxie:before {
  content: "\e632";
}

.ji-wenda2:before {
  content: "\e673";
}

