POSTGRES_PASSWORD=miyaui_local_pg

WORDPRESS_DB_ROOT_PASSWORD=miyaui_root_local
WORDPRESS_DB_NAME=www_miyaui_com_dev
WORDPRESS_DB_USER=www_miyaui_com_dev
WORDPRESS_DB_PASSWORD=miyaui_local_wp
WORDPRESS_TABLE_PREFIX=wp_

WORDPRESS_HOME=http://localhost:8082
WORDPRESS_SITEURL=http://localhost:8082
WORDPRESS_DEBUG=false
WORDPRESS_REDIS_DATABASE=1

MYSQL_PORT=4306
POSTGRES_PORT=5433
REDIS_PORT=63790
WORDPRESS_PORT=8082
FASTAPI_PORT=8001
NUXT_PORT=3001
