@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?86030558');
  src: url('../font/fontello.eot?86030558#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?86030558') format('woff2'),
       url('../font/fontello.woff?86030558') format('woff'),
       url('../font/fontello.ttf?86030558') format('truetype'),
       url('../font/fontello.svg?86030558#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86030558#fontello') format('svg');
  }
}
*/
[class^="Jifont-"]:before, [class*=" Jifont-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.Jifont-1-like:before{content:'\e800'}
.Jifont-QQ:before{content:'\e801'}
.Jifont-douyin:before{content:'\e802'}
.Jifont-software:before{content:'\e803'}
.Jifont-time:before{content:'\e804'}
.Jifont-down-dir:before{content:'\e805'}
.Jifont-label:before{content:'\e806'}
.Jifont-more:before{content:'\e807'}
.Jifont-project:before{content:'\e808'}
.Jifont-fire:before{content:'\e809'}
.Jifont-toppost:before{content:'\e80a'}
.Jifont-medal-1:before{content:'\e80b'}
.Jifont-tool:before{content:'\e80c'}
.Jifont-sina:before{content:'\e80d'}
.Jifont-sina-1:before{content:'\e80e'}
.Jifont-wechat:before{content:'\e80f'}
.Jifont-wechat-1:before{content:'\e810'}
.Jifont-article:before{content:'\e811'}
.Jifont-download:before{content:'\e812'}
.Jifont-experience:before{content:'\e813'}
.Jifont-site:before{content:'\e814'}
.Jifont-service:before{content:'\e815'}
.Jifont-subject:before{content:'\e816'}
.Jifont-allposts:before{content:'\e817'}
.Jifont-recruit:before{content:'\e818'}
.Jifont-event:before{content:'\e819'}
.Jifont-1-inspiration:before{content:'\e81a'}
.Jifont-topic:before{content:'\e81b'}
.Jifont-newspaper:before{content:'\e81c'}
.Jifont-hunter:before{content:'\e81d'}
.Jifont-advertising:before{content:'\e81e'}
.Jifont-course:before{content:'\e81f'}
.Jifont-wikipedia:before{content:'\e820'}
.Jifont-path:before{content:'\e821'}
.Jifont-right:before{content:'\e822'}
.Jifont-left:before{content:'\e823'}
.Jifont-comm:before{content:'\e824'}
.Jifont-share:before{content:'\e825'}
.Jifont-2-inspiration:before{content:'\e826'}
.Jifont-1-heart-border:before{content:'\e827'}
.Jifont-2-heart-border:before{content:'\e828'}
.Jifont-return:before{content:'\e829'}
.Jifont-QR:before{content:'\e82a'}
.Jifont-link:before{content:'\e82b'}
.Jifont-Key-word:before{content:'\e82c'}
.Jifont-search:before{content:'\e82d'}
.Jifont-qzone:before{content:'\e82e'}
.Jifont-comme:before{content:'\e82f'}
.Jifont-2-like:before{content:'\e830'}
.Jifont-huaban:before{content:'\e831'}
.Jifont-checked-solid:before{content:'\e832'}
.Jifont-menu-font:before{content:'\e833'}
.Jifont-top2:before{content:'\e834'}
.Jifont-warning:before{content:'\e835'}
.Jifont-recommend:before{content:'\e836'}
.Jifont-banner:before{content:'\e837'}
.Jifont-warning-solid:before{content:'\e838'}
.Jifont-ewm:before{content:'\e839'}
.Jifont-gohome:before{content:'\e83a'}
.Jifont-Center:before{content:'\e83b'}
.Jifont-1-laba:before{content:'\e83c'}
.Jifont-audit-notice:before{content:'\e83d'}
.Jifont-n-design:before{content:'\e83e'}
.Jifont-n-book:before{content:'\e83f'}
.Jifont-private:before{content:'\e840'}
.Jifont-open-class:before{content:'\e841'}
.Jifont-n-color:before{content:'\e842'}
.Jifont-n-shopping:before{content:'\e843'}
.Jifont-NEW:before{content:'\e844'}
.Jifont-comme-hover:before{content:'\e845'}
.Jifont-Software:before{content:'\e846'}
.Jifont-Contribute:before{content:'\e847'}
.Jifont-Business:before{content:'\e848'}
.Jifont-industry:before{content:'\e849'}
.Jifont-Abnormal :before{content:'\e84a'}
.Jifont-about:before{content:'\e84b'}
.Jifont-ui:before{content:'\e84c'}
.Jifont-hot-h:before{content:'\e84d'}
.Jifont-web:before{content:'\e84e'}
.Jifont-graphic:before{content:'\e84f'}
.Jifont-quote:before{content:'\e850'}
.Jifont-painting:before{content:'\e851'}
.Jifont-e-commerce:before{content:'\e852'}
.Jifont-interactive:before{content:'\e853'}
.Jifont-pm:before{content:'\e854'}
.Jifont-target:before{content:'\e855'}
.Jifont-new-Jifont-2:before{content:'\e856'}
.Jifont-new-Jifont-1:before{content:'\e857'}
.Jifont-new-Jifont-3:before{content:'\e858'}
.Jifont-ps:before{content:'\e859'}
.Jifont-financing:before{content:'\e85a'}
.Jifont-ai:before{content:'\e85b'}
.Jifont-address:before{content:'\e85c'}
.Jifont-ae:before{content:'\e85d'}
.Jifont-lr:before{content:'\e85e'}
.Jifont-email:before{content:'\e85f'}
.Jifont-play:before{content:'\e860'}
.Jifont-site-1:before{content:'\e861'}
.Jifont-accurate:before{content:'\e862'}
.Jifont-service-1:before{content:'\e863'}
.Jifont-option:before{content:'\e864'}
.Jifont-new-Jifont-4:before{content:'\e865'}
.Jifont-svg-5:before{content:'\e866'}
.Jifont-svg-1:before{content:'\e867'}
.Jifont-heart-empty:before{content:'\e868'}
.Jifont-heart-solid:before{content:'\e869'}
.Jifont-fire-empty:before{content:'\e86a'}
.Jifont-fire-solid:before{content:'\e86b'}
.Jifont-svg-6:before{content:'\e86c'}
.Jifont-svg-3:before{content:'\e86d'}
.Jifont-svg-4:before{content:'\e86e'}
.Jifont-svg-2:before{content:'\e86f'}
.Jifont-pr:before{content:'\e870'}
.Jifont-Jifont-1:before{content:'\e871'}
.Jifont-article-9:before{content:'\e872'}
.Jifont-article-12:before{content:'\e873'}
.Jifont-course-5:before{content:'\e874'}
.Jifont-dot:before{content:'\e875'}
.Jifont-comm-solid:before{content:'\e876'}
.Jifont-tool-7:before{content:'\e877'}
.Jifont-cat:before{content:'\e878'}
.Jifont-nav-uiii-4:before{content:'\e879'}
.Jifont-v:before{content:'\e87a'}
.Jifont-1-bang:before{content:'\e87b'}
.Jifont-1-ping:before{content:'\e87c'}
.Jifont-hot-s:before{content:'\e87d'}
.Jifont-1-c:before{content:'\e87e'}
.Jifont-1-home:before{content:'\e87f'}
.Jifont-1-c-1:before{content:'\e880'}
.Jifont-web-1:before{content:'\e881'}
.Jifont-down:before{content:'\e882'}
.Jifont-Jifont-3:before{content:'\e883'}
.Jifont-Jifont-5:before{content:'\e884'}
.Jifont-article-10:before{content:'\e885'}
.Jifont-article-11:before{content:'\e886'}
.Jifont-Jifont-2:before{content:'\e887'}
.Jifont-channel-1:before{content:'\e888'}
.Jifont-channel-2:before{content:'\e889'}
.Jifont-channel-3:before{content:'\e88a'}
.Jifont-channel-4:before{content:'\e88b'}
.Jifont-channel-5:before{content:'\e88c'}
.Jifont-channel-7:before{content:'\e88d'}
.Jifont-channel-6:before{content:'\e88e'}
.Jifont-channel-8:before{content:'\e88f'}
.Jifont-course-1:before{content:'\e890'}
.Jifont-course-2:before{content:'\e891'}
.Jifont-course-3:before{content:'\e892'}
.Jifont-course-4:before{content:'\e893'}
.Jifont-douyin-1:before{content:'\e894'}
.Jifont-fk:before{content:'\e895'}
.Jifont-hot:before{content:'\e896'}
.Jifont-hot-ht:before{content:'\e897'}
.Jifont-ht:before{content:'\e898'}
.Jifont-play-1:before{content:'\e899'}
.Jifont-sc:before{content:'\e89a'}
.Jifont-search-1:before{content:'\e89b'}
.Jifont-sina-2:before{content:'\e89c'}
.Jifont-uu-1:before{content:'\e89d'}
.Jifont-uu-3:before{content:'\e89e'}
.Jifont-uu-2:before{content:'\e89f'}
.Jifont-uu-4:before{content:'\e8a0'}
.Jifont-website-1:before{content:'\e8a1'}
.Jifont-website-2:before{content:'\e8a2'}
.Jifont-website-3:before{content:'\e8a3'}
.Jifont-website-4:before{content:'\e8a4'}
.Jifont-wechat-2:before{content:'\e8a5'}
.Jifont-zuozhe:before{content:'\e8a6'}
.Jifont-article-1:before{content:'\e8a7'}
.Jifont-article-2:before{content:'\e8a8'}
.Jifont-article-3:before{content:'\e8a9'}
.Jifont-article-4:before{content:'\e8aa'}
.Jifont-article-5:before{content:'\e8ab'}
.Jifont-article-6:before{content:'\e8ac'}
.Jifont-article-7:before{content:'\e8ad'}
.Jifont-article-8:before{content:'\e8ae'}
.Jifont-yinhao:before{content:'\e8af'}
.Jifont-plus-circle:before{content:'\e8b0'}
.Jifont-link-1:before{content:'\e8b1'}
.Jifont-qr:before{content:'\e8b2'}
.Jifont-question:before{content:'\e8b3'}
.Jifont-share-1:before{content:'\e8b4'}
.Jifont-smile:before{content:'\e8b5'}
.Jifont-award:before{content:'\e8b6'}
.Jifont-collect-1:before{content:'\e8b7'}
.Jifont-collect-2:before{content:'\e8b8'}
.Jifont-minus-circle:before{content:'\e8b9'}
.Jifont-download-1:before{content:'\e8ba'}
.Jifont-follow:before{content:'\e8bb'}
.Jifont-home:before{content:'\e8bc'}
.Jifont-hook:before{content:'\e8bd'}
.Jifont-like-1:before{content:'\e8be'}
.Jifont-like-2:before{content:'\e8bf'}
.Jifont-notice-2:before{content:'\e8c0'}
.Jifont-notice-1:before{content:'\e8c1'}
.Jifont-Jifont-upload:before{content:'\e8c2'}
.Jifont-see-1:before{content:'\e8c3'}
.Jifont-xing:before{content:'\e8c4'}
.Jifont-see:before{content:'\e8c5'}
.Jifont-xing-half:before{content:'\e8c6'}
.Jifont-info:before{content:'\e8c7'}
.Jifont-del:before{content:'\e8c8'}
.Jifont-read:before{content:'\e8c9'}
.Jifont-learn:before{content:'\e8ca'}
.Jifont-group:before{content:'\e8cb'}
.Jifont-talk:before{content:'\e8cc'}
.Jifont-ask:before{content:'\e8cd'}
.Jifont-vote:before{content:'\e8ce'}
.Jifont-follows:before{content:'\e8cf'}
.Jifont-message:before{content:'\e8d0'}
.Jifont-setting:before{content:'\e8d1'}
.Jifont-well:before{content:'\e8d2'}
.Jifont-hunter-1:before{content:'\e8d3'}
.Jifont-douyin-2:before{content:'\e8d4'}
.Jifont-001:before{content:'\e8d5'}
.Jifont-002:before{content:'\e8d6'}
.Jifont-003:before{content:'\e8d7'}
.Jifont-004:before{content:'\e8d8'}
.Jifont-005:before{content:'\e8d9'}
.Jifont-006:before{content:'\e8da'}
.Jifont-local:before{content:'\e8db'}
.Jifont-slider-btn:before{content:'\e8dc'}
.Jifont-order-desc:before{content:'\e8dd'}
.Jifont-order-asc:before{content:'\e8de'}
.Jifont-wechatpay:before{content:'\e8df'}
.Jifont-nav-post-2:before{content:'\e8e0'}
.Jifont-nav-post-1:before{content:'\e8e1'}
.Jifont-nav-post-3:before{content:'\e8e2'}
.Jifont-nav-post-4:before{content:'\e8e3'}
.Jifont-nav-post-5:before{content:'\e8e4'}
.Jifont-nav-post-6:before{content:'\e8e5'}
.Jifont-nav-post-7:before{content:'\e8e6'}
.Jifont-nav-post-8:before{content:'\e8e7'}
.Jifont-nav-post-9:before{content:'\e8e8'}
.Jifont-nav-post-10:before{content:'\e8e9'}
.Jifont-nav-post-11:before{content:'\e8ea'}
.Jifont-nav-post-12:before{content:'\e8eb'}
.Jifont-nav-hot-6:before{content:'\e8ec'}
.Jifont-nav-hot-7:before{content:'\e8ed'}
.Jifont-nav-hot-8:before{content:'\e8ee'}
.Jifont-nav-hot-9:before{content:'\e8ef'}
.Jifont-nav-hot-10:before{content:'\e8f0'}
.Jifont-nav-hot-1:before{content:'\e8f1'}
.Jifont-nav-hot-2:before{content:'\e8f2'}
.Jifont-nav-hot-3:before{content:'\e8f3'}
.Jifont-nav-hot-4:before{content:'\e8f4'}
.Jifont-nav-hot-5:before{content:'\e8f5'}
.Jifont-nav-hao-1:before{content:'\e8f6'}
.Jifont-nav-hao-2:before{content:'\e8f7'}
.Jifont-nav-hao-3:before{content:'\e8f8'}
.Jifont-nav-hao-4:before{content:'\e8f9'}
.Jifont-nav-course-1:before{content:'\e8fa'}
.Jifont-nav-course-2:before{content:'\e8fb'}
.Jifont-nav-course-3:before{content:'\e8fc'}
.Jifont-nav-course-4:before{content:'\e8fd'}
.Jifont-nav-uiii-1:before{content:'\e8fe'}
.Jifont-nav-uiii-2:before{content:'\e8ff'}
.Jifont-nav-uiii-3:before{content:'\e900'}
.Jifont-checked:before{content:'\e901'}
.Jifont-tree:before{content:'\e902'}
.Jifont-close:before{content:'\e903'}
.Jifont-comment:before{content:'\e904'}
.Jifont-tool-5:before{content:'\e905'}
.Jifont-sofa:before{content:'\e906'}
.Jifont-qun:before{content:'\e907'}
.Jifont-font:before{content:'\e908'}
.Jifont-logo-3:before{content:'\e909'}
.Jifont-logo-4:before{content:'\e90a'}
.Jifont-logo-6:before{content:'\e90b'}
.Jifont-logo-5:before{content:'\e90c'}
.Jifont-logo-1:before{content:'\e90d'}
.Jifont-logo-2:before{content:'\e90e'}
.Jifont-Message:before{content:'\e90f'}
.Jifont-comment_recommend:before{content:'\e910'}
.Jifont-share-talk-img:before{content:'\e911'}
.Jifont-fire-4:before{content:'\e912'}
.Jifont-fire-5:before{content:'\e913'}
.Jifont-fire-6:before{content:'\e914'}
.Jifont-fire-7:before{content:'\e915'}
.Jifont-fire-8:before{content:'\e916'}
.Jifont-fire-9:before{content:'\e917'}
.Jifont-inspiration-2:before{content:'\e918'}
.Jifont-talk-hot-1:before{content:'\e919'}
.Jifont-talk-hot-2:before{content:'\e91a'}
.Jifont-talk-hot-3:before{content:'\e91b'}
.Jifont-talk-hot-4:before{content:'\e91c'}
.Jifont-tool-4:before{content:'\e91d'}
.Jifont-fire-1:before{content:'\e91e'}
.Jifont-fire-2:before{content:'\e91f'}
.Jifont-fire-3:before{content:'\e920'}
.Jifont-money:before{content:'\e921'}
.Jifont-work:before{content:'\e922'}
.Jifont-share-talk:before{content:'\e923'}
.Jifont-specialist:before{content:'\e924'}
.Jifont-nav-Jifont-1:before{content:'\e925'}
.Jifont-nav-Jifont-5:before{content:'\e926'}
.Jifont-nav-Jifont-8:before{content:'\e927'}
.Jifont-nav-Jifont-11:before{content:'\e928'}
.Jifont-nav-Jifont-16:before{content:'\e929'}
.Jifont-nav-Jifont-18:before{content:'\e92a'}
.Jifont-nav-Jifont-19:before{content:'\e92b'}
.Jifont-xiaohongshu:before{content:'\e92c'}
.Jifont-list-day:before{content:'\e92d'}
.Jifont-nav-font-3:before{content:'\e92e'}
.Jifont-nav-font-4:before{content:'\e92f'}
.Jifont-community-1:before{content:'\e930'}
.Jifont-community-3:before{content:'\e931'}
.Jifont-community-2:before{content:'\e932'}
.Jifont-nav-font-8:before{content:'\e933'}
.Jifont-scale:before{content:'\e934'}
.Jifont-opinion:before{content:'\e935'}
.Jifont-state-2:before{content:'\e936'}
.Jifont-state-3:before{content:'\e937'}
.Jifont-state-1:before{content:'\e938'}
.Jifont-state-4:before{content:'\e939'}
.Jifont-time-1:before{content:'\e93a'}
.Jifont-time-2:before{content:'\e93b'}
.Jifont-time-3:before{content:'\e93c'}
.Jifont-nav-font-7:before{content:'\e93d'}
.Jifont-copy:before{content:'\e93e'}
.Jifont-tips:before{content:'\e93f'}
.Jifont-shield:before{content:'\e940'}
.Jifont-yy-tips:before{content:'\e941'}
.Jifont-photo9:before{content:'\e942'}
.Jifont-nav-font-5:before{content:'\e943'}
.Jifont-ds-left:before{content:'\e944'}
.Jifont-ds-right:before{content:'\e945'}
.Jifont-Jifont-mj:before{content:'\e946'}
.Jifont-nav-call:before{content:'\e947'}
.Jifont-logo-7:before{content:'\e948'}
.Jifont-mj-tips:before{content:'\e949'}
.Jifont-sd-tips:before{content:'\e94a'}
.Jifont-lock:before{content:'\e94b'}
.Jifont-i-ai:before{content:'\e957'}
.Jifont-i-color:before{content:'\e95a'}
.Jifont-i-emoji:before{content:'\e95b'}
.Jifont-i-event:before{content:'\e95c'}
.Jifont-i-ip:before{content:'\e95f'}
.Jifont-i-like:before{content:'\e960'}
.Jifont-i-live:before{content:'\e962'}
.Jifont-i-progress:before{content:'\e963'}
.Jifont-i-ui:before{content:'\e965'}
.Jifont-i-vision:before{content:'\e966'}
.Jifont-h-select:before{content:'\e967'}
.Jifont-h-subject:before{content:'\e968'}
.Jifont-rocket:before{content:'\e969'}
.Jifont-i-book:before{content:'\e96a'}
.Jifont-nav-ai:before{content:'\e96b'}
.Jifont-i-img:before{content:'\e96c'}
.Jifont-nav-Jifont-2:before{content:'\e96d'}
.Jifont-nav-Jifont-3:before{content:'\e96e'}
.Jifont-nav-Jifont-4:before{content:'\e96f'}
.Jifont-i-clock:before{content:'\e970'}
.Jifont-nav-Jifont-6:before{content:'\e971'}
.Jifont-nav-Jifont-7:before{content:'\e972'}
.Jifont-i-article:before{content:'\e973'}
.Jifont-nav-Jifont-9:before{content:'\e974'}
.Jifont-nav-Jifont-10:before{content:'\e975'}
.Jifont-i-illustration:before{content:'\e976'}
.Jifont-nav-Jifont-12:before{content:'\e977'}
.Jifont-nav-Jifont-13:before{content:'\e978'}
.Jifont-nav-Jifont-14:before{content:'\e979'}
.Jifont-nav-Jifont-15:before{content:'\e97a'}
.Jifont-i-animation:before{content:'\e97b'}
.Jifont-nav-Jifont-17:before{content:'\e97c'}
.Jifont-i-editing:before{content:'\e97d'}
.Jifont-i-topic:before{content:'\e97e'}
.Jifont-nav-Jifont-20:before{content:'\e97f'}
.Jifont-i-see:before{content:'\e980'}
.Jifont-nav-Jifont-21:before{content:'\e981'}
.Jifont-nav-Jifont-22:before{content:'\e982'}
.Jifont-nav-more:before{content:'\e983'}
.Jifont-i-application:before{content:'\e984'}
.Jifont-list-moon:before{content:'\e985'}
.Jifont-nav-font-2:before{content:'\e986'}
.Jifont-i-vip:before{content:'\e987'}
.Jifont-i-hot:before{content:'\e988'}
.Jifont-i-new:before{content:'\e989'}
.Jifont-nav-font-6:before{content:'\e98a'}
.Jifont-i-link:before{content:'\e98b'}
.Jifont-i-search:before{content:'\e98c'}
.Jifont-i-c4d:before{content:'\e98d'}
.Jifont-i-interactive:before{content:'\e98e'}
.Jifont-i-font:before{content:'\e98f'}
.Jifont-Jifont-sd:before{content:'\e990'}
.Jifont-Jifont-game:before{content:'\e991'}
.Jifont-Jifont-hardware:before{content:'\e992'}
.Jifont-Jifont-vi:before{content:'\e993'}
.Jifont-uisdc-logo:before{content:'\e995'}
.Jifont-prompt:before{content:'\e996'}
.Jifont-ai-tool:before{content:'\e997'}
.Jifont-learning:before{content:'\e998'}
.Jifont-btn-bang:before{content:'\e999'}
.Jifont-Jifont-logo-7:before{content:'\e99a'}
.Jifont-people:before{content:'\e99b'}
.Jifont-btn-details:before{content:'\e99c'}
.Jifont-Jifont-up:before{content:'\e99d'}
.Jifont-advert:before{content:'\e99e'}
.Jifont-design-train:before{content:'\e99f'}
.Jifont-enterprise:before{content:'\e9a0'}
.Jifont-design-data:before{content:'\e9a1'}
.Jifont-corporate-training:before{content:'\e9a2'}
.Jifont-event-activities:before{content:'\e9a3'}
.Jifont-jb-recruitment:before{content:'\e9a4'}
.Jifont-design-incubator:before{content:'\e9a5'}
.Jifont-Jifont-media:before{content:'\e9a6'}
.Jifont-Jifont-mp:before{content:'\e9a7'}
.Jifont-Jifont-wechat:before{content:'\e9a8'}
.Jifont-Jifont-uiiiuiii:before{content:'\e9a9'}
.Jifont-Jifont-uisdcnav:before{content:'\e9aa'}
.Jifont-club-icon:before{content:'\e9ab'}
.Jifont-Jifont-d-jt:before{content:'\e9ac'}
.Jifont-rm-tips:before{content:'\e9ad'}
.Jifont-group-Jifont-column:before{content:'\e9ae'}
.Jifont-group-Jifont-search:before{content:'\e9af'}
.Jifont-smile-1:before{content:'\e9b0'}
.Jifont-Jifont-group-hot:before{content:'\e9b1'}
.Jifont-group-tips:before{content:'\e9b2'}
.Jifont-fans:before{content:'\e9b3'}
.Jifont-2-frame:before{content:'\e9b4'}
.Jifont-svg-7:before{content:'\e9b5'}
.Jifont-svg-8:before{content:'\e9b6'}
.Jifont-svg-9:before{content:'\e9b7'}
.Jifont-svg-10:before{content:'\e9b8'}
.Jifont-svg-11:before{content:'\e9b9'}
.Jifont-svg-12:before{content:'\e9ba'}
.Jifont-svg-13:before{content:'\e9bb'}
.Jifont-svg-14:before{content:'\e9bc'}
.Jifont-svg-15:before{content:'\e9bd'}
.Jifont-checked-1:before{content:'\e9be'}
.Jifont-clock:before{content:'\e9bf'}
.Jifont-experience-1:before{content:'\e9c0'}
.Jifont-promote:before{content:'\e9ca'}
.Jifont-trend:before{content:'\e9cc'}
.Jifont-circle-empty:before{content:'\f10c'}