.link-top {
	font-weight: 700
}

.inner-wrapper-sticky {
	top: unset!important;
	padding: 10px 16px;
	border-radius: var(--b2radius)
}

.link-desc {
	display: -webkit-box;
	overflow: hidden;
	box-sizing: border-box;
	margin: 4px 0 8px;
	height: 15px;
	color: #666;
	font-size: 13px;
	line-height: 1.3;
	overflow-wrap: break-word;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1
}

.child-link-cat a {
	margin-left: 20px
}

.link-top h2 {
	overflow: hidden;
	height: 30px;
	color: initial;
	font-size: 15px;
	line-height: 2
}

.links-home h1 {
	margin-bottom: 6px;
	padding-top: 0;
	font-weight: 700;
	font-size: 18px
}

.link-total,.links-home h1 {
	margin-right: 0;
	text-align: center
}

.link-total {
	margin-bottom: 20px;
	font-size: 12px
}

.dh-box {
	margin-bottom: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px
}

.dh-box .tit {
	font-size: 0;
	line-height: 51px
}

.dh-box .tit h2 {
	font-weight: 700;
	font-size: 16px
}

.dh-box .tit .line,.dh-box .tit h2 {
	display: inline-block;
	vertical-align: middle
}

.dh-box .tit .line {
	overflow: hidden;
	margin-right: 22px;
	width: 3px;
	height: 18px;
	background-color: var(--b2color);
	line-height: 18px
}

.dh-box .tit .more {
	margin-right: 24px;
	color: #999;
	font-size: 14px;
	cursor: pointer
}

.arrow {
	z-index: 55;
	z-index: 5;
	display: inline-block;
	display: inline;
	margin-top: 20px;
	margin-left: 10px;
	width: 18px;
	height: 18px;
	background: url(../img/arrow.png) no-repeat;
	zoom: 1
}

.dh-box .list li a:hover .ecode {
	display: block
}

.dh-box .list-tj {
	padding: 16px 0;
	zoom: 1
}

.dh-box .list-tj:after {
	clear: both;
	display: block;
	height: 0;
	content: "\200B"
}

.dh-box .list-tj li {
	position: relative;
	float: left;
	overflow: hidden;
	margin-top: 0;
	margin-right: 16px;
	margin-bottom: 16px;
	width: calc(20% - 16px)
}

.dh-box .list-tj li img {
	width: 100%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-ms-border-radius: 4px
}

.dh-box .list-tj li p {
	position: absolute;
	bottom: -36px;
	left: 0;
	display: -webkit-box;
	overflow: hidden;
	padding: 0 14px;
	width: 100%;
	height: 26px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	background: #000;
	background: rgba(0,0,0,.6);
	color: #fff;
	text-overflow: ellipsis;
	font-size: 13px;
	line-height: 26px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	-ms-border-radius: 0 0 4px 4px;
	-ms-transition: all .3s ease
}

.dh-box .list-tj li a:hover p {
	bottom: 0
}

.link-img {
	display: block;
	overflow: hidden;
	margin-right: 18px;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background-color: unset
}

.link-in {
	position: relative;
	margin: 8px;
	padding: 10px;
	background: #f7f8fa;
	box-shadow: none;
	cursor: pointer;
	transition: all .2s ease;
	transition: all .2s ease-out;
	align-items: flex-start
}

.link-title h2:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-radius: 0;
	background-color: none;
	content: ""
}

.link-title {
	position: relative;
	display: flex;
	padding: 0;
	font-weight: 400;
	font-size: 16px;
	justify-content: space-between;
	align-items: center
}

.link-title .link-more {
	position: absolute;
	right: 0;
	display: flex;
	color: var(--b2color);
	font-size: 13px;
	align-items: center
}

.b2-tab-links .toc-list {
	margin-right: 0;
	padding: 0;
	border-radius: 0 0 5px 5px;
	text-align: center;
	font-size: 14px
}

.b2-tab-links .toc-list-item {
	margin-bottom: 0
}

.b2-tab-links a.toc-link {
	display: inline-block;
	padding: 5px 10px;
	height: unset;
	border-radius: var(--b2radius);
	background-color: unset;
	line-height: 25px
}

.b2-tab-links .toc-list-item {
	margin-bottom: 5px
}

.b2-tab-links .is-active-li a.toc-link {
	color: var(--b2color)
}

.b2-links-tj {
	position: absolute;
	right: 0;
	margin-top: 17px;
	margin-right: 24px;
	text-align: right;
	line-height: 20px
}

.dh-box .tit .link_desc {
	margin-right: 50px;
	color: #999;
	font-size: 14px;
	cursor: pointer
}

.aside-container {
	z-index: 1
}

.jitheme_links_post .site-head {
	padding: 0 20px 20px 0;
	border-bottom: 1px solid #ebeef5
}

.jitheme_links_post .entry-content {
	min-height: unset
}

.jitheme_links_post .site-head h1 {
	font-size: 28px
}

.jitheme_links_post .site-head .info {
	margin-top: 10px
}

.jitheme_links_post .info span {
	margin-right: 20px;
	color: #909399;
	font-size: 13px
}

.jitheme_links_post .site-single {
	padding: 20px 20px 0 0
}

.jitheme_links_post .site-single .site-row {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap
}

.jitheme_links_post .site-single .site-row .site-icon {
	position: relative;
	overflow: hidden;
	width: 180px;
	height: 180px;
	background: #333
}

.jitheme_links_post .site-single .site-row .site-icon .bg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150%!important;
	height: 150%!important;
	max-width: none;
	opacity: .2;
	transform: translate(-50%,-50%);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px)
}

.jitheme_links_post .site-single .site-row .site-icon i {
	position: absolute!important;
	top: 50%;
	left: 50%;
	z-index: 5;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	border: 4px solid hsla(0,0%,100%,.4);
	border-radius: 50%;
	transition: all .3s;
	transform: translate(-50%,-50%)
}

.jitheme_links_post .site-single .site-row .site-icon i img {
	width: 100%;
	height: 100%
}

.jitheme_links_post .site-single .site-icon:hover i {
	border: 4px solid hsla(0,0%,100%,.8)
}

.jitheme_links_post .site-single .site-row .site-main {
	margin-left: 30px;
	flex: 1
}

.jitheme_links_post .site-list-cat a {
	display: inline-block;
	margin-right: 5px;
	padding: 4px 8px;
	border-radius: 4px;
	color: var(--b2color);
	font-size: 12px;
	line-height: normal
}

.site-list-cat a:hover {
	border: 1px solid var(--b2color);
	background: var(--b2color);
	color: #fff
}

.jitheme_links_post .site-desc {
	margin: 20px 0 0;
	padding: 20px;
	color: #666;
	font-size: 14px
}

.jitheme_links_post .site-desc p {
	margin: 0;
	letter-spacing: .5px;
	font-size: 15px
}

.jitheme_links_post .site-tags i {
	margin-right: 3px;
	line-height: 0
}

.jitheme_links_post .site-tags a:hover {
	border: 1px solid var(--b2color);
	background: var(--b2color);
	color: #fff
}

.jitheme_links_post .site-go {
	margin-top: 0
}

.jitheme_links_post .site-go a {
	display: inline-block;
	margin: 0 2px;
	padding: 10px 24px;
	border: 1px solid f5f6f7;
	background-color: var(--b2color);
	color: #fff;
	line-height: normal;
	opacity: .6;
	transition: all .3s
}

.jitheme_links_post .site-go a:hover {
	opacity: 1
}

.mini-submenu {
	position: relative;
	display: block;
	margin-bottom: 5px;
	padding: 11px 20px 11px 15px;
	text-align: center;
	white-space: nowrap;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer
}

.toc-list-item:hover {
	border-radius: var(--b2radius);
	background-color: var(--b2lightcolor);
	color: var(--b2color)
}

.b2-tab-links .is-active-li a.toc-link {
	width: 100%;
	background-color: var(--b2color);
	color: #fff
}

.mini-submenu i {
	display: inline-block;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-color: #28c687;
	color: #fff;
	vertical-align: top;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px
}
