@font-face {
  font-family: "Jifont"; /* Project id 4734846 */
  src: url('iconfont.woff2?t=1743038432852') format('woff2'),
       url('iconfont.woff?t=1743038432852') format('woff'),
       url('iconfont.ttf?t=1743038432852') format('truetype');
}

.Jifont {
  font-family: "Jifont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a-ziyuan4:before {
  content: "\e607";
}

.a-ziyuan3:before {
  content: "\e616";
}

.a-ziyuan10:before {
  content: "\e617";
}

.a-ziyuan6:before {
  content: "\e618";
}

.a-ziyuan12:before {
  content: "\e619";
}

.a-ziyuan1:before {
  content: "\e61a";
}

.a-ziyuan14:before {
  content: "\e61b";
}

.a-ziyuan7:before {
  content: "\e61c";
}

.a-ziyuan15:before {
  content: "\e61e";
}

.a-ziyuan13:before {
  content: "\e61f";
}

.a-ziyuan11:before {
  content: "\e620";
}

.a-ziyuan2:before {
  content: "\e621";
}

.a-ziyuan9:before {
  content: "\e622";
}

.a-ziyuan5:before {
  content: "\e625";
}

.a-ziyuan18:before {
  content: "\e626";
}

.a-ziyuan20:before {
  content: "\e627";
}

.a-ziyuan23:before {
  content: "\e628";
}

.a-ziyuan26:before {
  content: "\e629";
}

.a-ziyuan17:before {
  content: "\e62a";
}

.a-ziyuan16:before {
  content: "\e62b";
}

.a-ziyuan21:before {
  content: "\e62c";
}

.a-ziyuan22:before {
  content: "\e62d";
}

.a-ziyuan24:before {
  content: "\e62e";
}

.a-ziyuan19:before {
  content: "\e62f";
}

.a-ziyuan25:before {
  content: "\e630";
}

.a-ziyuan8:before {
  content: "\e631";
}

.sz-1:before {
  content: "\e609";
}

.sz-7:before {
  content: "\e60b";
}

.sz-6:before {
  content: "\e60c";
}

.sz-8:before {
  content: "\e60d";
}

.sz-9:before {
  content: "\e60e";
}

.sz-4:before {
  content: "\e610";
}

.sz-3:before {
  content: "\e611";
}

.sz-5:before {
  content: "\e612";
}

.sz-2:before {
  content: "\e613";
}

.sz-0:before {
  content: "\e615";
}

.palette-fill:before {
  content: "\ee0d";
}

.palette-line:before {
  content: "\ee0e";
}

.code-box-line:before {
  content: "\ee1b";
}

.code-s-slash-fill:before {
  content: "\ee1c";
}

.code-box-fill:before {
  content: "\ee1d";
}

.huaCADxian:before {
  content: "\e624";
}

.weiyufenli:before {
  content: "\e608";
}

.weiyu:before {
  content: "\e707";
}

.xiaofanggongcheng:before {
  content: "\e641";
}

.xiaofang-xiaofangzhishi:before {
  content: "\e99a";
}

.zhaobiao:before {
  content: "\e6f3";
}

.xhx:before {
  content: "\e8c5";
}

.kezhangongyu:before {
  content: "\e999";
}

.bieshu:before {
  content: "\e61d";
}

.changzugongyu:before {
  content: "\e6a3";
}

.yangbanjian:before {
  content: "\e692";
}

.Toaster:before {
  content: "\e666";
}

.jiudian:before {
  content: "\e667";
}

.Fill3:before {
  content: "\e60a";
}

.shoukou:before {
  content: "\e63e";
}

.a-21minsu_homestay:before {
  content: "\ed4a";
}

.yigui:before {
  content: "\e645";
}

.chuangdian:before {
  content: "\e646";
}

.chufangdianqi:before {
  content: "\e648";
}

.chuang:before {
  content: "\e649";
}

.cizhuan:before {
  content: "\e64a";
}

.bingxiang:before {
  content: "\e64b";
}

.dengju:before {
  content: "\e64c";
}

.chuanglian:before {
  content: "\e64d";
}

.chugui:before {
  content: "\e64e";
}

.dianshiji:before {
  content: "\e64f";
}

.fucai:before {
  content: "\e650";
}

.linyu:before {
  content: "\e651";
}

.diban:before {
  content: "\e652";
}

.kongtiao:before {
  content: "\e653";
}

.reshuiqi:before {
  content: "\e654";
}

.dianshigui:before {
  content: "\e655";
}

.shafa:before {
  content: "\e656";
}

.mugong:before {
  content: "\e657";
}

.kaiguan:before {
  content: "\e658";
}

.nigong:before {
  content: "\e659";
}

.qita:before {
  content: "\e65a";
}

.tuliao:before {
  content: "\e65b";
}

.shuidiangong:before {
  content: "\e65c";
}

.menchuang:before {
  content: "\e65d";
}

.xiyiji:before {
  content: "\e65e";
}

.yanfang:before {
  content: "\e65f";
}

.zhuoyi:before {
  content: "\e660";
}

.zhuangxiugongsi:before {
  content: "\e661";
}

.youqigong:before {
  content: "\e662";
}

.shejifei:before {
  content: "\e663";
}

.wuyefei:before {
  content: "\e664";
}

.diaoding:before {
  content: "\e665";
}

.shineishebei_louti:before {
  content: "\e6f4";
}

.loutifushou:before {
  content: "\e606";
}

.yuzhihunningtulouti:before {
  content: "\e796";
}

.louti:before {
  content: "\e750";
}

.loutiSTAI:before {
  content: "\e8b2";
}

.yimaojian:before {
  content: "\e623";
}

.dilou:before {
  content: "\e604";
}

.shufang:before {
  content: "\e66a";
}

.shugui:before {
  content: "\e642";
}

.yimaojian1:before {
  content: "\e6ad";
}

.tuli_:before {
  content: "\e602";
}

.shufang1:before {
  content: "\e614";
}

.shufang2:before {
  content: "\e8ac";
}

.xishoutai:before {
  content: "\e6b3";
}

.yimaojian2:before {
  content: "\e6aa";
}

.yimaojian3:before {
  content: "\e676";
}

.cizhuanshicai:before {
  content: "\e6dd";
}

.diloufangchou:before {
  content: "\e647";
}

.tongyong-jitihuiyi:before {
  content: "\e853";
}

.tianranshicai:before {
  content: "\e644";
}

.appstore:before {
  content: "\e9f8";
}

.bank:before {
  content: "\e9f9";
}

.muqiang:before {
  content: "\e643";
}

.qiangti:before {
  content: "\e79a";
}

.baojia-2:before {
  content: "\e7a8";
}

.1v1-2:before {
  content: "\e7a9";
}

.anli-2:before {
  content: "\e7aa";
}

.baozhang-2:before {
  content: "\e7ab";
}

.caidan-2:before {
  content: "\e7ac";
}

.dapei-2:before {
  content: "\e7ad";
}

.chufang-2:before {
  content: "\e7ae";
}

.chanqiang-2:before {
  content: "\e7af";
}

.gonglve-2:before {
  content: "\e7b0";
}

.gongqi-2:before {
  content: "\e7b1";
}

.gongchang-2:before {
  content: "\e7b2";
}

.jiaocheng-2:before {
  content: "\e7b3";
}

.goutongxuqiu-2:before {
  content: "\e7b4";
}

.dianhua-2:before {
  content: "\e7b6";
}

.jiedianyanshou-2:before {
  content: "\e7b8";
}

.keting-2:before {
  content: "\e7ba";
}

.jungong-2:before {
  content: "\e7bb";
}

.jungongyanshou-2:before {
  content: "\e7bc";
}

.goutong-2:before {
  content: "\e7bd";
}

.fangyang-2:before {
  content: "\e7be";
}

.kaigong-2:before {
  content: "\e7bf";
}

.mianji-2:before {
  content: "\e7c0";
}

.qiqiang-2:before {
  content: "\e7c1";
}

.liangfang-2:before {
  content: "\e7c2";
}

.guochengbaohu-2:before {
  content: "\e7c3";
}

.pipeishejishi-2:before {
  content: "\e7c4";
}

.hetong-2:before {
  content: "\e7c5";
}

.ruanzhuang-2:before {
  content: "\e7c6";
}

.shishi-2:before {
  content: "\e7c7";
}

.shuidian-2:before {
  content: "\e7c8";
}

.liulan-2:before {
  content: "\e7c9";
}

.qiaoqiang-2:before {
  content: "\e7ca";
}

.shenpi-2:before {
  content: "\e7cb";
}

.shuidianzhibao-2:before {
  content: "\e7cc";
}

.shejifangan-2:before {
  content: "\e7cd";
}

.qiangbaodibao-2:before {
  content: "\e7ce";
}

.shouhou-2:before {
  content: "\e7cf";
}

.tiyan-2:before {
  content: "\e7d0";
}

.woshi-2:before {
  content: "\e7d1";
}

.wuyebaobei-2:before {
  content: "\e7d2";
}

.yangtai-2:before {
  content: "\e7d3";
}

.yanfang-2:before {
  content: "\e7d4";
}

.weishengjian-2:before {
  content: "\e7d5";
}

.yanwupeichang-2:before {
  content: "\e7d6";
}

.yusuan-2:before {
  content: "\e7d7";
}

.xiaofeizhe-2:before {
  content: "\e7d8";
}

.pinzhiyingzhuang-2:before {
  content: "\e7d9";
}

.weixin-2:before {
  content: "\e7da";
}

.zaixianyuyue-2:before {
  content: "\e7dc";
}

.youqi-2:before {
  content: "\e7dd";
}

.zhanting-2:before {
  content: "\e7de";
}

.zhekou-2:before {
  content: "\e7df";
}

.zhuye-2:before {
  content: "\e7e0";
}

.zongdai-2:before {
  content: "\e7e1";
}

.Njifenxiao-2:before {
  content: "\e7e2";
}

.yuyuesheji-2:before {
  content: "\e7e3";
}

.youhuihuodong-2:before {
  content: "\e7e4";
}

.zhuanche-2:before {
  content: "\e7e5";
}

.bubble-chart-fill:before {
  content: "\e731";
}

.bubble-chart-line:before {
  content: "\e732";
}

.customer-service-2-fill:before {
  content: "\e739";
}

.customer-service-2-line:before {
  content: "\e73a";
}

.honour-fill:before {
  content: "\e73b";
}

.honour-line:before {
  content: "\e73c";
}

.codepen-fill:before {
  content: "\e7b5";
}

.collage-fill:before {
  content: "\e7b7";
}

.collage-line:before {
  content: "\e7b9";
}

.group-fill:before {
  content: "\e894";
}

.group-line:before {
  content: "\e896";
}

.landscape-fill:before {
  content: "\e8c3";
}

.landscape-line:before {
  content: "\e8c4";
}

.qr-code-fill:before {
  content: "\e993";
}

.qr-code-line:before {
  content: "\e994";
}

.shield-check-fill:before {
  content: "\ea0f";
}

.shield-cross-fill:before {
  content: "\ea10";
}

.shield-check-line:before {
  content: "\ea11";
}

.shield-cross-line:before {
  content: "\ea12";
}

.shield-star-fill:before {
  content: "\ea15";
}

.shield-user-fill:before {
  content: "\ea16";
}

.shield-user-line:before {
  content: "\ea17";
}

.shield-star-line:before {
  content: "\ea18";
}

.shopping-bag-2-fill:before {
  content: "\ea1b";
}

.shopping-bag-2-line:before {
  content: "\ea1c";
}

.shopping-bag-3-fill:before {
  content: "\ea1d";
}

.shopping-bag-3-line:before {
  content: "\ea1e";
}

.star-fill:before {
  content: "\ea65";
}

.star-half-fill:before {
  content: "\ea66";
}

.star-line:before {
  content: "\ea68";
}

.star-smile-fill:before {
  content: "\ea69";
}

.star-s-line:before {
  content: "\ea6a";
}

.star-smile-line:before {
  content: "\ea6b";
}

.t-shirt-fill:before {
  content: "\ea98";
}

.t-shirt-line:before {
  content: "\ea99";
}

.table-alt-fill:before {
  content: "\ea9b";
}

.table-alt-line:before {
  content: "\ea9c";
}

.table-fill:before {
  content: "\ea9d";
}

.table-line:before {
  content: "\ea9e";
}

.team-fill:before {
  content: "\eaaa";
}

.team-line:before {
  content: "\eaab";
}

.vip-crown-2-fill:before {
  content: "\eb07";
}

.vip-crown-2-line:before {
  content: "\eb08";
}

.vip-crown-fill:before {
  content: "\eb09";
}

.vip-crown-line:before {
  content: "\eb0a";
}

.wechat-fill:before {
  content: "\eb1b";
}

.notification-3-line:before {
  content: "\e938";
}

.notification-3-fill:before {
  content: "\e939";
}

.add-circle-fill:before {
  content: "\e754";
}

.add-circle-line:before {
  content: "\e755";
}

.sun-fill:before {
  content: "\ea83";
}

.sun-line:before {
  content: "\ea85";
}

.eye-fill:before {
  content: "\e811";
}

.eye-line:before {
  content: "\e812";
}

.mark-pen-fill:before {
  content: "\e8fd";
}

.mark-pen-line:before {
  content: "\e8fe";
}

.moon-fill:before {
  content: "\e924";
}

.moon-line:before {
  content: "\e925";
}

.search-line:before {
  content: "\e9f5";
}

.xin:before {
  content: "\e600";
}

.bao:before {
  content: "\e60f";
}

.fei:before {
  content: "\e605";
}

.jitheme-logo:before {
  content: "\e68a";
}

.logoa:before {
  content: "\e699";
}

