
/*dmss*/
.social-top .top-search {
    width: 250px;
    position: absolute;
    right: 150px;
}
.mi-searchpc .top-search {
    width: 250px;
}
/*top-end*/
.page-template .site-header {
    height: 50px;
}
.mistyle3-index {
    background: url(../rankbg.jpg) no-repeat center 0 #f7f9f8;
    padding: 100px 0 50px;
}
.mistyle3-rank-page {
    width: 1300px;
    margin: auto;
    position: relative;
    background-color: #fff;
    padding: 0 30px 0 10px;
    border-radius: 14px;
    box-shadow: 0 1px 34px 1px hsla(0,0%,44.7%,.16);
}
.RankPageHeader {
    margin: 20px 0 -12px;
    height: 170px;
    text-align: center;
    padding-top: 34px;
    background: url(../rank-header-bg.png) no-repeat 50%/640px 170px;
}
.RankPageHeader .main-title {
    height: 45px;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 10px;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 25px;
}
.miuser-list li:nth-child(1) .n1 {
    background: url(../n1.png) no-repeat;
    line-height: 200px!important;
}
.miuser-list li:nth-child(2) .n1 {
    background: url(../n2.png) no-repeat;
    line-height: 200px!important;
}
.miuser-list li:nth-child(3) .n1 {
    background: url(../n3.png) no-repeat;
    line-height: 200px!important;
}
.RankPageHeader .main-title .title-icon {
    width: 9px;
    height: 16px;
    background: url(../title-prefix.png) 50%/100%;
    margin: 0 14px;
}
.RankPageHeader .main-title .title-icon.suffix {
    margin: 0 3px;
}
.RankPageHeader .mi-tab-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.RankPageHeader .header-tab-item.active, .RankPageHeader .header-tab-item:hover {
    color: var(--mistyle3color);
}
.RankPageHeader .header-tab-item {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    height: 30px;
    margin-right: 60px;
    margin-left: 100px;
}
.RankPageHeader .header-tab-item.active:after, .RankPageHeader .header-tab-item:hover:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    right: 0;
    width: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--mistyle3color);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.mistyle3-rank-page .rank-page-content .update-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #999;
    font-size: 12px;
    margin-bottom: 4px;
}
.mistyle3-rank-page .next-update-time {
    color: #999;
    font-size: 12px;
    padding-left: 32px;
}
.mistyle3-space {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}
.mistyle3-rank-page .rank-page-content .rank-page-list {
    background-color: #fff;
    border-radius: 4px;
    min-height: 400px;
}
.mistyle3-list>ul {
    list-style: none;
}
.mistyle3-game-rank-list-item {
    padding: 17px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.mistyle3-game-rank-list-item .item-rank-mark {
    width: 50px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}
.mistyle3-game-rank-list-item .item-rank-mark .rank-mark-number {
    color: #999;
    font-size: 20px;
    min-width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
    padding: 0 8px;
    text-align: center;
    background-color: #eee;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.mistyle3-game-rank-list-item .item-image {
    height: 130px;
    width: 230px;
    margin-right: 20px;
    border-radius: 2px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    position: relative;
}
.image-box {
    overflow: hidden;
}
.image-box img {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
    border-radius: 8px;
}
.mistyle3-game-rank-list-item .item-info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    min-width: 100px;
}
.mistyle3-game-rank-list-item a:hover, .mistyle3-game-rank-list-item .item-info a:hover {
    color: var(--mistyle3color);
}
.mistyle3-game-rank-list-item .item-info .item-name {
    display: block;
    margin-top: 8px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.mistyle3-game-rank-list-item .item-info .item-sub-info {
    margin-top: 10px;
    color: #999;
    font-size: 12px;
    line-height: 17px;
}
.mistyle3-game-rank-list-item .item-info .item-sub-info span {
    margin-right: 50px;
}
.mistyle3-game-rank-list-item .item-info .item-tags {
    margin-top: 40px;
    height: 24px;
}
.mistyle3-game-tags.text {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
}
.mistyle3-game-tags, .mistyle3-game-tags .tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.mistyle3-game-rank-list-item .item-info .item-tags .tag {
    color: #999;
}
.mistyle3-game-tags.text .tag {
    color: #999;
    padding: 0;
    margin-right: 0;
}
.mistyle3-game-tags .tag {
    height: 20px;
    color: #c5c5c5;
    font-size: 12px;
    padding: 0 8px;
    margin-right: 8px;
    white-space: nowrap;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.mistyle3-game-tags .tag span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 950px;
}
        .tab-content {
            display: none;
        }

        .tab-content.active {
            display: block;
        }

.mistyle3-list li:nth-child(-n+3) .rank-mark-number {
    background: #ffedae;
    color: #fb7a18;
}
@media screen and (max-width:768px){
.mistyle3-index {
    background: #fff;
    padding: 0;
}
.mistyle3-rank-page {
    width: auto;
    margin: auto;
    position: relative;
    background-color: #fff;
    padding: 0;
}
.RankPageHeader {
    margin: 0;
    height: 150px;
    text-align: center;
    padding-top: 34px;
    background: url(../rank-header-bg.png) no-repeat 50%/640px 170px;
}
.RankPageHeader .main-title {
    height: 45px;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 25px;
}
.RankPageHeader .header-tab-item {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    height: 30px;
    margin-right: 30px;
    margin-left: auto;
}
.mistyle3-game-rank-list-item {
    padding: 17px 0;
    display: flex;
}
.mistyle3-game-rank-list-item .item-rank-mark {
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
}
.mistyle3-game-rank-list-item .item-image {
    height: 60px;
    width: 100px;
    margin-right: 10px;
    border-radius: 2px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    position: relative;
    margin-left: 10px;
}
.mistyle3-game-rank-list-item .item-info .item-name {
    display: block;
    margin-top: auto;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
}
.mistyle3-game-rank-list-item .item-info {
    min-width: 0;
}
.mistyle3-game-rank-list-item .item-info .item-sub-info {
    margin-top: 10px;
    color: #999;
    font-size: 12px;
    line-height: 17px;
}
.mistyle3-game-rank-list-item .item-info .item-tags {
    display: none;
}
.mistyle3-game-rank-list-item .item-info .item-sub-info span {
    margin-right: 30px;
}
.mistyle3-game-rank-list-item .item-rank-mark .rank-mark-number {
    font-size: 12px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0;
}
.miuser-list {
    padding-top: 10px;
}
.miuser-list li {
    position: relative;
    margin-left: 52px;
    padding: 2px 20px 2px 0;
}
.miuser-list.zuozhe-list2 li .l2 {
    position: relative;
    padding: 0 0 0 60px!important;
    height: 65px;
}
.miuser-list li .zuozheinfo .user {
    width: 50px!important;
}
.miuser-list li .zuozheinfo .user img.avatar {
    width: 50px!important;
    height: 50px!important;
}
.miuser-list li .moblv {
    /* position: relative; */
    margin-top: -10px;
}
.miuser-list li .cate {
    position: absolute;
    top: 0;
    left: 150px;
}
.miuser-list li .daib {
    display: none;
}
.miuser-list li .l3 {
    display: none;
}
#rank_list {
    margin-left: 0;
}
.miuser-list li .zuozheinfo .user {
    height: auto!important;
}
#rank_list .user i.b2-vrenzhengguanli {
    right: 0!important;
}
.miuser-list li .cate span {
    position: relative;
    margin-left: auto!important;
}
}
/*作者榜*/
.miuser-list {
    margin-bottom: 20px;
}
.miuser-list li {
    position: relative;
    margin-left: 52px;
    padding: 22px 100px 2px 0;
}
.miuser-list li .l1 {
    position: absolute;
    top: 0;
    left: -52px;
    width: 38px;
    height: 100%;
}
.miuser-list li .l1 .nums.n1 {
    margin-top: -20px;
    height: 38px;
    width: 38px;
    overflow: hidden;
}
.miuser-list li .l1 .nums {
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -19px;
    height: 34px;
    line-height: 34px;
    width: 34px;
    text-align: center;
    border-radius: 100%;
    background-color: #f7f9f8;
    color: #8ea1a7;
    font-size: 18px;
    font-weight: 700;
}
.miuser-list.zuozhe-list2 li .l2 {
    position: relative;
    padding: 10px 0 0 130px;
}
.miuser-list li .l2 {
    position: relative;
    padding-left: 254px;
    height: 135px;
}
.zuozhe-list2 li .zuozheinfo {
    vertical-align: middle;
}
.miuser-list li .zuozheinfo .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 110px;
}
.miuser-list li .zuozheinfo .user img.avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: block;
    overflow: hidden;
    background-color: #fff;
}
.miuser-list li .zuozheinfo .name {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    color: #333;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.miuser-list li .cate {
    width: 100%;
    overflow: hidden;
    color: #ccc;
}
.miuser-list li .cate span {
    position: relative;
    /*margin-left: -15px;*/
}
.miuser-list li .cate em {
    margin: 0 5px;
    font-size: 12px;
    color: #8ea1a7;
    font-style: normal;
}
.miuser-list li .daib, .miuser-list li .daib a {
    color: #666;
}
.miuser-list li .daib {
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.miuser-list li .hdry {
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    color: #666;
}
.srank .badge {
    height: 20px;
    margin-left: 5px;
}
.badge {
    display: inline-block;
    vertical-align: middle;
}
.miuser-list li .l3 {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}
.qianlValue {
    text-align: right;
    color: #999;
    margin-top: -20px;
    height: 40px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    font-size: 12px;
    line-height: 18px;
}
.qianlValue span {
    color: #6bbccb;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 5px;
}
.qianlValue span em {
    font-size: 22px;
    display: inline-block;
    font-style: normal;
}
.miuser-list li .daib a:hover {
    color: #6bbccb;
}
#rank_list {
    margin-left: 10px;
}
#rank_list .user i.b2-vrenzhengguanli {
    right: 45px;
}
/*end*/
.panel-body .b2font {
    margin-right: 7px;
    color: var(--mistyle3color);
}