.entry-header {
	margin: 0 -28px 28px;
	background-color: #fafafa;
	border-radius: 6px 6px 0 0;
	padding: 15px 28px 0;
	border-bottom: 1px solid #f2f2f2;
	position: relative
}

.post-breadcrumb {
	padding: 0;
	margin-bottom: 10px!important
}

.poster-image {
	height: 0;
	padding-top: 75%;
	position: relative;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover
}

.ava-ava {
	display: flex;
	margin-bottom: 20px
}

.single-article h1 {
	margin-bottom: 17px
}

#onecad-single-content {
	overflow: hidden;
	background: var(--ji-single-header);
	border-radius: 8px
}

.content-show-roles>p,.ji-single-content .entry-content>p {
	line-height: 2
}

.ji-single-content .lv-icon {
	color: var(--b2color)!important
}

.ji-single-content .w-d-download span button {
	background-color: var(--b2color);
	font-weight: 400;
	text-align: center;
	font-size: 14px;
	color: #fff!important
}

.ji-single-content .entry-header {
	border-bottom: 1px solid var(--main-border-color)
}

.w-d-current a {
	color: var(--b2color)!important
}

.ji-single-content .post-meta-row {
	margin-bottom: 6px
}

.ji-single-content .entry-header {
	margin-bottom: 10px;
	padding-bottom: 10px
}

.jitheme_post_gg {
	margin-top: 0
}

.post-meta li span b {
	font-weight: 400;
	margin-top: -1px;
}
.post-meta li {
    margin-right: 15px;
}
.single .post-meta li span, .single .post-meta .single-edit {
    margin: 0;
    padding: 0 10px;
    height: 25px;
    border-radius: 4px;
    font-weight: 500;
    background-color: #eee;
    line-height: 25px;
}
.modula .modula-item.effect-pufrobo .figc {
	text-align: right;
	display: none
}

.post-tags-meat-onecad .post-list-cat {
	margin: 0
}

.single-article {
	width: 100%;
	max-width: 100%;
	padding-top: 0;
	position: relative;
	box-sizing: border-box
}

.entry-content pre {
	background-color: #f9f9f9;
	color: currentColor;
	font-size: .875em;
	margin: 15px 0;
	overflow-x: auto;
	border: 1.5px solid var(--main-border-color)!important
}
.entry-content > pre ol li, .content-show-roles > pre ol li {
    margin: 0 !important;
    line-height: 20px;
    font-size: 13px;
}
.entry-content > pre ol li:hover, .content-show-roles > pre ol li:hover  {
  color: #2b2b2b !important;
  background-color: #ffd7db !important;
cursor: pointer;
}
pre ol li {
	background-color: #f9f9f9!important;
	color: #383a42
}

code,pre {
	font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace!important;
}

pre ol li .atn {
	color: #986801
}

pre ol li .atv {
	color: #50a14f
}

pre .pun,pre ol li .pln {
	color: #383a42
}

.entry-content pre:after {
	content: " ";
	position: absolute;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #c7c7c7;
	width: 10px;
	height: 10px;
	top: 12px;
	left: 15px;
	background: #fc625d;
	-webkit-box-shadow: 16px 0 #fdbc40,32px 0 #35cd4b;
	box-shadow: 16px 0 #fdbc40,32px 0 #35cd4b
}

.entry-content code {
	font: unset
}

.prettyprint {
	padding-top: 50px;
	padding-right: 0
}
.copy-btn-wrapper{
	display: inline-flex;
	align-items: center;
	position: relative;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	color: #aaa;
	background-color: #000;
	height: 35px;
	padding: 5px;
	padding-left: 70px;
}
.entry-content .copy-btn {
	/* position: absolute; */
	right: 8px;
	top: 8px;
	z-index: 10;
	transition: .2s;
	font: normal normal normal 14px/1 iconfont;
	border-radius: 4px;
	/* display: flex; */
	transition: .15s;
	padding: .3em .6em;
	background: rgb(235 237 239 / 51%);
	color: #f6f6f6;
	margin-left: 6px;
	cursor: pointer;
	color: #aaa !important;
	background-color: #4a4b4e !important;
	border-color: #4a4b4e !important;
	align-items: center
}

.content-hidden h3,.entry-content>h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	margin-top: 10px;
	margin-bottom: 10px
}

.content-hidden p,.entry-content>p {
	margin-bottom: 10px
}

.content-show-roles h2,.entry-content h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	margin-top: 20px;
	margin-bottom: 20px
}

.content-excerpt {
	line-height: 28px;
	width: 100%;
	font-family:unset;
}

.insert-post h2 {
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	margin-top: 0;
	margin-bottom: 0
}

.content-show-roles h1,.entry-content h1 {
	font-size: 28px;
	font-weight: 600;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 12px
}

.entry-content>ol li::marker,.entry-content>ul li::marker {
	font-weight: 700;
	padding: 0 5px;
	color: #ff4b2b
}

.ji-breadcrumb {
	padding: 10px 0;
	height: auto;
	white-space: nowrap;
	font-size: 13px;
	margin-bottom: 10px
}

.ji-breadcrumb i {
	font-size: 13px
}

.jitheme_avatar_data {
	display: flex!important
}

.item-in .post-module-thumb img {
	-webkit-transition: all .3s;
	transition: all .3s
}

.post-3 .post-info {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: 0
}

.post-list-meta-box {
	z-index: 2
}

.post-3 .post-list-meta-box {
	margin-top: unset
}

.post-list-meta li span i {
	margin-right: 5px;
	font-size: 15px
}

.jitheme_cat .post-list-cat a:before {
	margin-top: 5px
}

.ap-item-meta .post-list-cat:before,.jitheme_cat .post-list-cat a:before {
	content: "#";
	line-height: 15px;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	color: var(--b2color);
	text-align: center;
	float: left;
	background: var(--b2lightcolor);
	border-radius: 50%;
	display: block;
	left: 0
}

.ap-item-meta .post-list-cat:before {
	margin-top: 1px
}

.post-1 .post-list-cat a,.post-2 .post-list-cat a {
	font-size: 13px;
	width: fit-content;
	align-items: center
}

a.post-list-cat-item {
	height: 25px;
	display: inline-block;
	line-height: 25px
}

.item-post-style-3 .jitheme-post-info,.item-post-style-6 .jitheme-post-info {
	margin-top: 0
}

.item-post-style-3 .post-info,.item-post-style-6 .post-info {
	position: relative;
	z-index: 2;
	color: var(--key-color);
	overflow: unset;
	align-items: center
}

.jitheme_data {
	color: var(--muted-color)
}

.jitheme_data_d {
	padding: 0 5px
}

.list-footer {
	border-top: 0 solid hsla(0,0%,100%,.1)
}

.qukuai_jb {
	position: absolute;
	top: 0;
	right: -64px;
	z-index: 1;
	width: 150px;
	height: 22px;
	color: #fff;
	line-height: 25px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	font-size: 12px
}

.single-post .download-info li {
	font-size: 12px;
	width: 50%;
	margin-top: 5px;
	line-height: 1.5
}

.yszcbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6)
}

.yszcbox .qxbg {
	width: 500px;
	height: 138px;
	position: relative
}

.yszcbox .qxbg p {
	color: #1f3a4e;
	font-size: 28px;
	text-align: center;
	padding-top: 99px;
	font-weight: 600
}

.yszcbox .qxbg i {
	position: absolute;
	top: -80px;
	right: -113px;
	z-index: 100;
	width: 80px;
	height: 80px;
	cursor: pointer;
	background: url(../img/doyoclose.png) no-repeat;
	background-size: 80px 80px;
	display: block
}

.ysTxt {
	width: 100%;
	height: 556px;
	max-width: 500px;
	background: linear-gradient(180deg,#dfeffb,#fff 31%);
	border-radius: 5px;
	position: fixed;
	z-index: 15;
	top: 18%;
	left: 0;
	right: 0;
	margin: auto
}

.ysTxt>p:first-of-type {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	color: #19b955;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px
}

.ysTxt>p:nth-of-type(2) {
	font-size: 14px;
	line-height: 14px;
	color: #666;
	text-align: right;
	margin: 10px 45px 20px
}

.ysMain {
	display: block;
	width: 100%;
	height: 430px;
	line-height: 35px;
	font-size: 15px;
	padding: 18px 30px 40px;
	margin-top: 10px;
	overflow: auto
}

.ysMain strong,.yszcbox strong {
	font-weight: 700;
	font-size: 17px;
	font-weight: 600;
	line-height: 36px
}

.ysMain a {
	color: #f35;
	padding: 8px;
	transition: opacity .2s;
	position: relative;
	cursor: pointer;
	margin: 0;
	white-space: nowrap
}

.ysicon {
	position: absolute;
	width: 195px;
	height: 171px;
	display: block;
	top: -84px;
	left: 161px;
	background: url(../img/ysbg.png) no-repeat
}

.gRule {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6)
}

.gRule .qxbg {
	height: 90px;
	position: relative
}

.gRule .qxbg p {
	color: #1f3a4e;
	font-size: 25px;
	text-align: center;
	padding-top: 25px;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center
}

.gRule .qxbg p .date {
	color: #1f3a4e;
	font-size: 15px;
	text-align: center;
	line-height: 30px;
	font-weight: 400
}

.gRule .qxbg p .date i {
	padding-right: 5px
}

.gRule .qxbg .ysclose {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 100;
	width: 35px;
	display: flex;
	font-size: 15px;
	color: #fff;
	background-color: var(--b2color);
	height: 35px;
	border-radius: 35px;
	text-align: center;
	cursor: pointer;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.ruleTxt {
	width: 100%;
	max-width: 500px;
	height: 556px;
	background: linear-gradient(180deg,#dfeffb,#fff 31%);
	border-radius: 30px;
	position: fixed;
	z-index: 15;
	top: 18%;
	left: 0;
	right: 0;
	margin: auto
}

.ruleTxt>p:first-of-type {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	color: #19b955;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px
}

.ruleTxt>p:nth-of-type(2) {
	font-size: 14px;
	line-height: 14px;
	color: #666;
	text-align: right;
	margin: 10px 45px 20px
}

.ruleMain {
	display: block;
	width: 100%;
	height: 445px;
	line-height: 42px;
	font-size: 16px;
	overflow: auto
}

.ruleMain p:last-of-type {
	margin-bottom: 30px
}

.qxicon {
	position: absolute;
	width: 315px;
	height: 253px;
	display: block;
	top: -107px;
	left: 98px;
	background: url(../img/qxbg.png) no-repeat
}

.hide {
	display: none
}

.qxys {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 0 0;
	font-size: 15px;
	color: var(--this-text);
	padding: 10px;
	background: rgba(255,51,85,.09);
	cursor: pointer;
	border: 2px dashed #f35
}

.qxys span i {
	margin-right: 3px;
	line-height: 1
}
